{% extends 'base.html.twig' %}
    {% block body %}
    <div class="container">
       <div class="jumbotron">
  <h1 class="display-3">Bienvenue sur ChymBNB !</h1>
  <p class="lead">Nous mettons en relations les voyageurs et les propriétaires qui veulent profiter de l'opportunités et gagner de l'argent en proposant leur bien à la location !  </p>
  <hr class="my-4">
  <p>Vous êtes voyageur ? Et vous voulez voir où vous pourrez loger pour votre prochain déplacement ? </p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Voir nos annonces </a>
  </p>
</div>
   <h2> Nos appartements stars</h2>
   <div class="row mt-3">
      <div class="col-md-4">
         <div class="card bg-light mb-3">
           <div class="card-header text-center">
             3 chambres, <strong>48&euro; /nuit</strong> <br>
             <small>Pas encore noté </small>
           </div>
           <div class="card-body">
              <h4 class="card-title">
                Appartement WOW !
              </h4>
              <p class="card-text">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque maxime, consequatur autem, quos veritatis earum reiciendis explicabo eos itaque quidem provident, totam enim fuga! Aliquam sed minima dolore architecto sapiente.

              </p>
              <a href="#" class="btn btn-secondary">En savoir plus !</a>
           </div>
         </div>
      </div>
      <div class="col-md-4">
         <div class="card bg-light mb-3">
           <div class="card-header text-center">
             3 chambres, <strong>48&euro; /nuit</strong> <br>
             <small>Pas encore noté </small>
           </div>
           <div class="card-body">
              <h4 class="card-title">
                Appartement WOW !
              </h4>
              <p class="card-text">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque maxime, consequatur autem, quos veritatis earum reiciendis explicabo eos itaque quidem provident, totam enim fuga! Aliquam sed minima dolore architecto sapiente.

              </p>
              <a href="#" class="btn btn-secondary">En savoir plus !</a>
           </div>
         </div>
      </div>
      <div class="col-md-4">
         <div class="card bg-light mb-3">
           <div class="card-header text-center">
             3 chambres, <strong>48&euro; /nuit</strong> <br>
             <small>Pas encore noté </small>
           </div>
           <div class="card-body">
              <h4 class="card-title">
                Appartement WOW !
              </h4>
              <p class="card-text">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque maxime, consequatur autem, quos veritatis earum reiciendis explicabo eos itaque quidem provident, totam enim fuga! Aliquam sed minima dolore architecto sapiente.

              </p>
              <a href="#" class="btn btn-secondary">En savoir plus !</a>
           </div>
         </div>
      </div>
   </div>
   <h2> Nos propriétaires stars !</h2>
   <div class="row">
     <div class="col">
     <div class="card border-secondary mb-3">
       <div class="card-body">
       <h4 class="card-title">
        Chaima Ben Aicha
       </h4>
       <hr>
       <div class="card-text">
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga tenetur accusantium unde ipsum excepturi, odio nostrum molestiae. Quod mollitia fugit odio iste debitis qui, assumenda recusandae nam, incidunt pariatur saepe.</p>
        <a class="btn btn-success" href="#">En savoir plus ! </a>
       </div>
       </div>
     </div>
     </div>
        <div class="col">
     <div class="card border-secondary mb-3">
       <div class="card-body">
       <h4 class="card-title">
        Chaima Ben Aicha
       </h4>
       <hr>
       <div class="card-text">
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga tenetur accusantium unde ipsum excepturi, odio nostrum molestiae. Quod mollitia fugit odio iste debitis qui, assumenda recusandae nam, incidunt pariatur saepe.</p>
        <a class="btn btn-success" href="#">En savoir plus ! </a>
       </div>
       </div>
     </div>
     </div>
   </div>
    </div>
    {% endblock %}